 <md-button ng-class="button" class="md-button md-raised rfrsh-btn" ng-click="setOff(0);getPosts()">{{newPosts > 0 ? newPosts+' new shouts near you!' : 'Refresh'}}</md-button>
  <h2 ng-show="posts.length === 0">Looks like no one's been shouting near here. Be the first!</h2>
    <div class="posts-list">
    <md-card class="" ng-repeat="post in posts track by $index">
    <a href="#!/post/{{post._id}}">
      <md-card-content>
        <div>
          <h4>{{post.poster ? post.poster : 'userwithoutaname'}}</h4>
          <h2>{{post.post}}</h2>
          <h3>{{post.comments.length}} {{post.comments.length === 1 ? 'comment' : 'comments'}}.</h3>
          <h3>{{post.date | longAgo}}</h3>
        </div>
      </md-card-content>
      </a>
    </md-card>
    </div>
    <md-button class="md-raised md-button" ng-show="moar" ng-click="setOff(offset+10);getPosts()">Listen into the past farther!</md-button>
    <h4 ng-hide="moar">You have reached the end of time for this location!</h4>