<md-card class="center md-hue-1" id="settings-form">
    <form>
    <h1>Earshot.</h1>
	    <md-radio-group ng-model="rangeObj.range">
	      <md-radio-button value=0.0002>Room (about 30ft)</md-radio-button>
	      <md-radio-button value=0.0006> Building (about 100ft) </md-radio-button>
	      <md-radio-button value=0.0011> Block (about 200ft) </md-radio-button>
	      <md-radio-button value=0.04> Neighborhood (about 1mile) </md-radio-button>
	      <md-radio-button value=0.1> City (about 6miles) </md-radio-button>
	      <md-radio-button value=360> Global (The whole world!) </md-radio-button>
	    </md-radio-group>
	 </form>
	<h1>Location Update.</h1>
	<md-button class="md-button md-raised md-accent" ng-click="resetLocation()">Update your location!</md-button>
		    <h3>
		      Your location was last updated {{setTime | longAgo}}
		    </h3>
</md-card>
